extends layout

block content
  .container
    h1= title
    form(id='giftForm', action="/resource/gift", method="POST")
      .form-group
        label(for='gift_type', class='form-label') Gift Type
        input#gift_type(type='text', name='gift_type', class='form-control', required)
      .form-group
        label(for='size', class='form-label') Gift Size
        input#size(type='text', name='gift_size', class='form-control', required)
      .form-group
        label(for='price', class='form-label') Gift Price
        input#cost(type='number', name='gift_price', class='form-control', required)
      button(type="submit", class="btn btn-primary") Submit

  script.
    document.forms['giftForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) 
      }).then((resp) => {
        return resp.json();
      }).then((body) => {
        alert("Save succeeded");
      }).catch((error) => {
        alert("Save failed " + error );
      });
    });
